<div class="tce-export-modal-overlay" (click)="closeModal()">
	<div class="tce-export-modal-content" (click)="$event.stopPropagation()">
		<div class="tce:mb-2">
			<label>Report Name:
			  <input type="text" class="tce-export-modal-report-name-input" [(ngModel)]="reportName">
			</label>
		  <button class="tce-export-modal-close" (click)="closeModal()">
				X
			</button>
		</div>
		<div class="tce-export-modal-export-area-colour-provider">
			<div class="tce-export-modal-export-area" id="tceExportPageOne">
				<div class="tce:flex tce:justify-center">
				  <h2 class="tce-export-modal-report-name" >{{ reportName }}</h2>
				</div>
			  <carbon-estimation-treemap [carbonEstimation]="carbonEstimation()"
				  [chartHeight]="chartHeight"
				  [shouldShowUnitsSwitch]="false"
				  class="tce:!pointer-events-none"></carbon-estimation-treemap>
			  <carbon-estimation-table [carbonEstimation]="carbonEstimation()" [shouldShowSvgs]="false"></carbon-estimation-table>
			</div>
		</div>
		<div class="tce:min-h-4"></div>
		<div class="tce-export-modal-export-area-colour-provider">
			<div class="tce-export-modal-export-area" id="tceExportPageTwo">
				<h2 class="tce:mb-3">Estimate Input Data</h2>
				<div class="tce-export-modal-input-display-container">
				  <input-group-display [inputGroup]="upstream()" [group]="'Upstream'"></input-group-display>
				  <input-group-display [inputGroup]="downstream()" [group]="'Downstream'"></input-group-display>
				  <input-group-display [inputGroup]="onPremise()" [group]="'On Premise'"></input-group-display>
				  <input-group-display [inputGroup]="cloud()" [group]="'Cloud'"></input-group-display>
			  </div>
			</div>
		</div>
		<div class="tce:flex tce:justify-center">
	    <button
		    class="tce-button-download-pdf tce:p-2 tce:my-2"
			  (click)="exportToPDF()"
		  >
			  Download PDF
		  </button>
		</div>
	</div>
</div>