<div class="flex justify-center">
  <div>
    <h1 class="text-center text-4xl font-bold">Estimations</h1>
    <div class="flex my-4 gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="400" role="presentation">
        <rect x="0" y="0" width="100" [attr.height]="upstreamEmissionsHeight" style="fill: rgb(64 121 140)" />
        <rect
          x="0"
          [attr.y]="upstreamEmissionsHeight"
          width="100"
          [attr.height]="cloudEmissionsHeight"
          style="fill: rgb(203 55 117)" />
        <rect
          x="0"
          [attr.y]="upstreamEmissionsHeight + cloudEmissionsHeight"
          width="100"
          [attr.height]="directEmissionsHeight"
          style="fill: rgb(145 35 76)" />
        <rect
          x="0"
          [attr.y]="upstreamEmissionsHeight + cloudEmissionsHeight + directEmissionsHeight"
          width="100"
          [attr.height]="downstreamEmissionsHeight"
          style="fill: rgb(75 126 86)" />
      </svg>
      <div class="grid grid-cols-2 grid-flow-row gap-4">
        @if (carbonEstimation().upstreamEmissions) {
          <span class="text-2xl font-bold text-[#40798C]">Upstream Emissions:</span>
          <span class="text-2xl">{{ carbonEstimation().upstreamEmissions }}</span>
        }
        @if (carbonEstimation().cloudEmissions) {
          <span class="text-2xl font-bold text-[#CB3775]">Cloud Emissions:</span>
          <span class="text-2xl">{{ carbonEstimation().cloudEmissions }}</span>
        }
        @if (carbonEstimation().directEmissions) {
          <span class="text-2xl font-bold text-[#91234C]">Direct Emissions:</span>
          <span class="text-2xl">{{ carbonEstimation().directEmissions }}</span>
        }
        @if (carbonEstimation().downstreamEmissions) {
          <span class="text-2xl font-bold text-[#4B7E56]">Downstream Emissions:</span>
          <span class="text-2xl">{{ carbonEstimation().downstreamEmissions }}</span>
        }
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
