<div class="flex flex-col" aria-live="polite">
  <sl-expansion-panel class="flex justify-between gap-2 flex-col mb-4">
    <div header>
      <h2 class="text-2xl">Estimations</h2>
    </div>
    <div content>
      <p>
        The estimations are divided into 4 categories:
        <a class="underline" href="https://www.techcarbonstandard.org/categories/upstream">Upstream Emissions</a>,
        <a class="underline" href="https://www.techcarbonstandard.org/categories/operational#direct-emissions"
          >Operational Direct Emissions</a
        >,
        <a class="underline" href="https://www.techcarbonstandard.org/categories/operational#indirect-emissions"
          >Operational Indirect Emissions</a
        >, and
        <a class="underline" href="https://www.techcarbonstandard.org/categories/downstream">Downstream Emissions</a>.
      </p>
    </div>
  </sl-expansion-panel>
  <div [attr.aria-label]="emissionAriaLabel" role="presentation" tabindex="0">
    <apx-chart
      aria-hidden="true"
      [series]="emissions"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [legend]="chartOptions.legend"
      [states]="chartOptions.states"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"></apx-chart>
  </div>
</div>
