::ng-deep .apexcharts-legend-series {
  cursor: default !important;
  min-width: 250px;
  margin-left: 0 !important;
}
::ng-deep .apexcharts-legend {
  padding: 0 !important;
}

::ng-deep .apexcharts-legend-series:hover {
  background-color: rgb(226 232 240);
}

::ng-deep .apexcharts-tooltip.apexcharts-theme-light {
  border: none !important;
}

::ng-deep .web-logo {
  background-image: url('../../assets/web.svg');
}

::ng-deep .devices-logo {
  background-image: url('../../assets/devices.svg');
}

::ng-deep .router-logo {
  background-image: url('../../assets/router.svg');
}

::ng-deep .storage-logo {
  background-image: url('../../assets/storage.svg');
}

::ng-deep .cloud-logo {
  background-image: url('../../assets/cloud.svg');
}

::ng-deep .cell-tower-logo {
  background-image: url('../../assets/cell-tower.svg');
}

::ng-deep .ai-logo {
  background-image: url('../../assets/web.svg');
}

::ng-deep .question-mark-logo {
  background-image: url('../../assets/question-mark.svg');
}
