<div class="flex flex-col px-4 pt-4 md:pb-4 h-full">
  <h1 class="text-3xl mb-6">Technology Carbon Estimator</h1>
  <div class="flex w-full grow flex-wrap md:flex-nowrap">
    @if (showAssumptionsAndLimitationView) {
      <sl-assumptions-and-limitation
        #assumptionsLimitation
        aria-live="polite"
        (closeEvent)="closeAssumptionsAndLimitation($event)"
        class="w-full md:w-1/2 pb-4 md:pb-0 md:pr-4"></sl-assumptions-and-limitation>
    } @else {
      <sl-carbon-estimator-form
        [formValue]="formValue"
        (formSubmit)="handleFormSubmit($event)"
        class="w-full md:w-1/2 pb-4 md:pb-0 md:pr-4"></sl-carbon-estimator-form>
    }
    @if (showEstimation) {
      <div #estimations class="w-full md:w-1/2 flex flex-col h-dvh md:h-fit py-4 md:py-0 md:pl-4 md:sticky md:top-0">
        <sl-carbon-estimation [carbonEstimation]="carbonEstimation" [extraHeight]="extraHeight"></sl-carbon-estimation>
        @if (!showAssumptionsAndLimitationView) {
          <button
            id="showAssumptionsAndLimitationButton"
            class="px-3 py-2 bg-slate-200 text-slate-800 rounded hover:bg-slate-300 w-fit self-end"
            (click)="showAssumptionsAndLimitation()">
            Assumptions and limitations
          </button>
        }
      </div>
    }
  </div>
</div>
