<form (ngSubmit)="handleSubmit()" (reset)="resetForm()" [formGroup]="estimatorForm" class="max-w-md mx-auto" >
    <div formGroupName="upstream">
        <label class="flex items-center pt-2 pb-1 cursor-pointer"  >
            <h2 class="basis-40 text-2xl font-bold">Upstream</h2>
            <input type="checkbox" checked id="upstream-switch" class="sr-only peer" formControlName="enabled"/>
            <div class="relative w-11 h-6 bg-gray-200  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>

        @if(upstreamSwitch) {
            <div class="form-group border-2 border-slate-500 p-2 pb-3 rounded flex flex-col gap-2">
                <label>
                    <span>Head Count:*</span>
                    <input class="form-input mt-1 block w-full rounded" formControlName="headCount" name="headCount" type="number" min="1" />
                </label>

                <label>
                    <span>Desktop to laptop %:</span>
                    <input class="mt-1 block w-full" formControlName="desktopToLaptopPercentage" name="desktopToLaptopPercentage" type="range" min="0" max="100" step="1" value="50" />
                </label>
            </div>
        }
    </div>
    <div formGroupName="onPrem">
        <label class="flex items-center pt-2 pb-1 cursor-pointer" >
            <h2 class="basis-40 text-2xl font-bold">On-Prem</h2>
            <input type="checkbox" checked class="sr-only peer" formControlName="enabled"/>
            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>
        @if(onPremSwitch) {
            <div class="form-group border-2 border-slate-500 p-2 pb-3 rounded flex flex-col gap-2">
                <label>
                    <span>On-Prem Location:</span>
                    <select class="form-select block w-full mt-1 rounded" formControlName="location" name="location">
                        <option value="global">Global</option>
                        <option value="uk">UK</option>
                        <option value="eu">EU</option>
                        <option value="us">US</option>
                    </select>
                </label>
            
                <label>
                    <span>Number of Servers:</span>
                    <input class="form-input mt-1 block w-full rounded" formControlName="numberOfServers" name="numberOfServers" type="number" min="0"  />
                </label>
            </div>
        }        
    </div>
    <div formGroupName="cloud">
        <label class="flex items-center pt-2 pb-1 cursor-pointer"  >
            <h2 class="basis-40 text-2xl font-bold">Cloud</h2>
            <input type="checkbox" checked class="sr-only peer" formControlName="enabled"/>
            <div class="relative w-11 h-6 bg-gray-200  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>
        @if(cloudSwitch) {
            <div class="form-group border-2 border-slate-500 p-2 pb-3 rounded flex flex-col gap-2">
                <label>
                    <span>Cloud Location:</span>
                    <select class="form-select block w-full mt-1 rounded" formControlName="location" name="location">
                        <option value="global">Global</option>
                        <option value="uk">UK</option>
                        <option value="eu">EU</option>
                        <option value="us">US</option>
                    </select>
                </label>
        
                <label>
                    <span>Cloud %:</span>
                    <input class="mt-1 block w-full" formControlName="cloudPercentage" name="cloudPercentage" type="range" min="0" max="100" step="1" value="0"/>
                </label>
                
                <label>
                    <span>Monthly Cloud Bill:</span>
                    <select class="form-select block w-full mt-1 rounded" formControlName="monthlyCloudBill" name="monthlyCloudBill" required>
                        <option value="0-200">$0-$200</option>
                        <option value="200-500">$200-$500</option>
                        <option value="500-1000">$500-$1000</option>
                        <option value="1000-5000">$1000-$5000</option>
                        <option value="5000-10000">$5000-$10000</option>
                        <option value="10000-50000">$10000-$50000</option>
                    </select>
                </label>
            </div>
        }
    </div>
    <div formGroupName="downstream">
        <label class="flex items-center pt-2 pb-1 cursor-pointer">
            <h2 class="basis-40 text-2xl font-bold">Downstream</h2>
            <input type="checkbox" checked class="sr-only peer" formControlName="enabled"/>
            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>
        @if(downstreamSwitch){
            <div class="form-group border-2 border-slate-500 p-2 pb-3 rounded flex flex-col gap-2" >
                <label>
                    <span>Location of Customers:</span>
                    <select class="form-select block w-full mt-1 rounded" formControlName="customerLocation" name="customerLocation">
                        <option value="global">Global</option>
                        <option value="uk">UK</option>
                        <option value="eu">EU</option>
                        <option value="us">US</option>
                    </select>
                </label>
    
                <label>
                    <span>Monthly Active Users:</span>
                    <input class="form-input mt-1 block w-full rounded" formControlName="monthlyActiveUsers" name="monthlyActiveUsers" type="number" id="number-of-customers" min="0"  />
                </label>
                <label>
                    <span>Mobile %:</span>
                    <input class="mt-1 block w-full" formControlName="mobilePercentage" name="mobilePercentage" type="range" min="0" max="100" step="1" value="50"/>
                </label>
                <label>
                    <span>Purpose of Site:</span>
                    <select class="form-select block w-full mt-1 rounded" formControlName="purposeOfSite" name="purposeOfSite">
                        <option value="streaming">Streaming</option>
                        <option value="information">Information</option>
                        <option value="eCommerce">E-Commerce</option>
                        <option value="socialMedia">Social Media</option>
                        <option value="average">Average</option>
                    </select>
                </label>
        
            </div>
        }
    </div>
    <div class="flex items-center gap-6 py-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed" type="submit" [disabled]="!estimatorForm.valid">Calculate</button>
        <button class="bg-gray-200 hover:bg-gray-400 font-bold py-2 px-4 rounded" type="reset">Reset</button>
    </div>
</form>