<form (ngSubmit)="handleSubmit()" [formGroup]="estimatorForm" class="tce-w-full tce-flex tce-flex-col tce-gap-6">
  <div formGroupName="upstream">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.upstream"></ng-container>

    <div class="tce-flex tce-flex-col tce-gap-4">
      <div class="tce-flex tce-flex-col tce-gap-2">
        <label class="tce-text-sm tce-text-slate-600" for="headCount"
          >How many employees are in the organisation?
        </label>
        <input
          id="headCount"
          class="tce-border tce-border-slate-400 tce-rounded"
          formControlName="headCount"
          name="headCount"
          type="number"
          min="1" />
      </div>

      <div class="tce-flex tce-flex-col tce-gap-2">
        <label for="desktopPercentage" class="tce-text-sm tce-text-slate-600">
          What percentage of those employee devices are desktops or laptops?
        </label>
        <input
          id="desktopPercentage"
          class="tce-cursor-pointer"
          formControlName="desktopPercentage"
          name="desktopPercentage"
          type="range"
          min="0"
          max="100"
          step="5"
          [attr.aria-valuetext]="'Desktops ' + desktopPercentage + '%, Laptops ' + laptopPercentage + '%'" />
        <div class="tce-flex tce-justify-between tce-text-sm tce-text-slate-600">
          <span>Desktops {{ desktopPercentage }}%</span><span>Laptops {{ laptopPercentage }}%</span>
        </div>
      </div>

      <ng-container *ngTemplateOutlet="locationInput; context: formContext.upstream"></ng-container>
    </div>
  </div>

  <div formGroupName="onPremise">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.onPremise"></ng-container>

    <div class="tce-flex tce-flex-col tce-gap-4">
      <p id="on-prem-servers-question">How many on-premise servers do you use?</p>
      <div class="tce-flex tce-gap-2 tce-items-center">
        <input
          id="estimateServerCount"
          type="checkbox"
          class="tce-rounded-sm tce-cursor-pointer"
          formControlName="estimateServerCount"
          aria-describedby="on-prem-servers-question" />
        <label for="estimateServerCount" class="tce-cursor-pointer tce-select-none">I don't know</label>
      </div>

      @if (estimateServerCount) {
        <note>
          <p>
            We'll make an assumption about the number of servers based on your number of employees and cloud usage (~{{
              previewServerCount
            }}
            on-prem servers).
          </p>
        </note>
      }

      <div class="tce-flex tce-flex-col tce-gap-2">
        <label class="tce-text-sm tce-text-slate-600" for="numberOfServers">Number of Servers:</label>
        <input
          id="numberOfServers"
          class="tce-border tce-border-slate-400 tce-rounded disabled:tce-bg-gray-200 disabled:tce-text-slate-400 disabled:tce-cursor-not-allowed"
          formControlName="numberOfServers"
          name="numberOfServers"
          type="number"
          min="0" />
      </div>

      <ng-container *ngTemplateOutlet="locationInput; context: formContext.onPremise"></ng-container>
    </div>
  </div>

  <div formGroupName="cloud">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.cloud"></ng-container>

    <div class="tce-flex tce-flex-col tce-gap-4">
      <div class="tce-flex tce-gap-2 tce-items-center">
        <input
          id="noCloudServices"
          type="checkbox"
          formControlName="noCloudServices"
          class="tce-rounded-sm tce-cursor-pointer" />
        <label for="noCloudServices" class="tce-cursor-pointer tce-select-none">We don't use cloud services</label>
      </div>

      @if (!noCloudServices) {
        <div class="tce-flex tce-flex-col tce-gap-2">
          <label for="cloudPercentage" class="tce-text-sm tce-text-slate-600"
            >What percentage of your servers are cloud services vs on-premise?</label
          >
          <input
            id="cloudPercentage"
            class="tce-cursor-pointer disabled:tce-bg-gray-200 disabled:tce-text-slate-400 disabled:tce-cursor-not-allowed"
            formControlName="cloudPercentage"
            name="cloudPercentage"
            type="range"
            min="0"
            max="100"
            step="5"
            [attr.aria-valuetext]="'Cloud ' + cloudPercentage + '%, On-premise' + onPremisePercentage + '%'" />
          <div class="tce-flex tce-justify-between tce-text-sm tce-text-slate-600">
            <span>Cloud {{ cloudPercentage }}%</span>
            <span>On-premise {{ onPremisePercentage }}%</span>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="locationInput; context: formContext.cloud"></ng-container>

        <div>
          <p>
            We have derived a rough figure to give a ratio from US dollars spent to kWh of energy used in data centres.
          </p>
        </div>

        <div class="tce-flex tce-flex-col tce-gap-2">
          <label for="monthlyCloudBill" class="tce-text-sm tce-text-slate-600">What is your monthly cloud bill?</label>
          <select
            id="monthlyCloudBill"
            class="tce-border tce-border-slate-400 tce-rounded disabled:tce-bg-gray-200 disabled:tce-text-slate-400 disabled:tce-cursor-not-allowed tce-px-3 tce-py-2"
            formControlName="monthlyCloudBill"
            name="monthlyCloudBill"
            required>
            @for (range of costRanges; track $index) {
              <option [ngValue]="range">{{ range | formatCostRange }}</option>
            }
          </select>
        </div>
      }
    </div>
  </div>

  <div formGroupName="downstream">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.downstream"></ng-container>
    <div class="tce-flex tce-flex-col tce-gap-4">
      <div class="tce-flex tce-gap-2 tce-items-center">
        <input
          id="noDownstream"
          type="checkbox"
          formControlName="noDownstream"
          class="tce-rounded-sm tce-cursor-pointer" />
        <label for="noDownstream" class="cursor-pointer select-none"
          >We don't have any external users of our digital services</label
        >
      </div>

      @if (!noDownstream) {
        <div class="tce-flex tce-flex-col tce-gap-2">
          <expansion-panel [questionPanel]="true">
            <div header>
              <div class="tce-flex">
                <label for="purposeOfSite" class="tce-text-sm tce-text-slate-600"
                  >What's the primary purpose of your digital services?</label
                >
              </div>
            </div>
            <div content>
              <p class="tce-text-sm tce-text-slate-600">
                The purpose of your digital services is used to determine the typical amount of time a user might spend
                on them and the amount of data that may be transferred. This can affect the amount of energy used by end
                user devices and how much energy from network traffic is attributable to your organisation
              </p>
            </div>
          </expansion-panel>
          <select
            class="tce-border tce-border-slate-400 tce-rounded"
            formControlName="purposeOfSite"
            name="purposeOfSite"
            id="purposeOfSite">
            <option value="average" selected>Unspecified (uses average)</option>
            <option value="information">Information</option>
            <option value="eCommerce">E-Commerce</option>
            <option value="socialMedia">Social Media</option>
            <option value="streaming">Streaming</option>
          </select>
        </div>
        <ng-container *ngTemplateOutlet="locationInput; context: formContext.downstream"></ng-container>

        <div class="tce-flex tce-flex-col tce-gap-2">
          <label for="monthlyActiveUsers" class="tce-text-sm tce-text-slate-600">
            How many monthly active users do your digital services have?
          </label>
          <input
            class="tce-border tce-border-slate-400 tce-rounded"
            formControlName="monthlyActiveUsers"
            name="monthlyActiveUsers"
            type="number"
            id="monthlyActiveUsers"
            min="1" />
        </div>

        <div class="tce-flex tce-flex-col tce-gap-2">
          <expansion-panel [questionPanel]="true">
            <div header>
              <div class="tce-flex">
                <label for="mobilePercentage" class="tce-text-sm tce-text-slate-600">
                  What percentage of your end-users are mobile or personal computer users?
                </label>
              </div>
            </div>
            <div content>
              <p class="tce-text-sm tce-text-slate-600">
                The percentage of mobile users will affect the energy used by end user devices and network
                infrastructure. While the power demand of mobile devices is often much lower, the use of mobile networks
                can increase the power used when transferring data.
              </p>
            </div>
          </expansion-panel>
          <input
            id="mobilePercentage"
            formControlName="mobilePercentage"
            name="mobilePercentage"
            type="range"
            min="0"
            max="100"
            step="5"
            [attr.aria-valuetext]="'Mobile ' + mobilePercentage + '%, Computer' + computerPercentage + '%'" />
          <div class="tce-flex tce-justify-between tce-text-sm tce-text-slate-600">
            <span>Mobile {{ mobilePercentage }}%</span>
            <span>Computer {{ computerPercentage }}%</span>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="tce-flex tce-gap-4 tce-flex-row-reverse">
    <button
      class="tce-px-3 tce-py-2 tce-bg-sky-800 tce-text-white tce-rounded disabled:tce-opacity-50 disabled:tce-cursor-not-allowed hover:tce-bg-sky-900"
      type="submit"
      [disabled]="!estimatorForm.valid">
      Calculate
    </button>
    <button
      class="tce-px-3 tce-py-2 tce-bg-slate-200 tce-text-slate-800 tce-rounded hover:tce-bg-slate-300"
      type="button"
      (click)="resetForm()">
      Reset
    </button>
  </div>

  <ng-template
    #locationInput
    let-label="location.label"
    let-helperText="location.helperText"
    let-hasUnknown="location.hasUnknown"
    let-formControlName="location.formControlName"
    let-formGroupName="formGroupName">
    <div formGroupName="{{ formGroupName }}" class="tce-flex tce-flex-col tce-gap-2">
      <expansion-panel [questionPanel]="true">
        <div header>
          <div class="tce-flex">
            <label for="{{ formControlName }}" class="tce-text-sm tce-text-slate-600">{{ label }} </label>
          </div>
        </div>
        <div content>
          <p class="tce-text-sm tce-text-slate-600">
            This will affect the average
            <a class="tce-underline" href="https://www.techcarbonstandard.org/glossary#carbon-intensity"
              >Carbon Intensity</a
            >
            of the energy used by your {{ helperText }}.
          </p>
        </div>
      </expansion-panel>
      <select
        class="tce-border tce-border-slate-400 tce-rounded tce-px-3 tce-py-2"
        name="{{ formControlName }}"
        formControlName="{{ formControlName }}"
        id="{{ formControlName }}">
        @for (item of locationDescriptions; track $index) {
          <option value="{{ item.value }}">{{ item.description }}</option>
        }
        @if (hasUnknown) {
          <option value="unknown">I don't know</option>
        }
      </select>
      @if (estimatorForm.get(formGroupName + '.' + formControlName)?.value === 'unknown') {
        <note>
          <p>We'll use the assumption that any servers you use are located globally.</p>
        </note>
      }
    </div>
  </ng-template>
</form>

<ng-template #sectionHeader let-heading="heading" let-sectionDetails="details">
  <expansion-panel class="tce-flex tce-justify-between tce-gap-2 tce-flex-col tce-mb-4">
    <div header>
      <h2 class="tce-text-2xl">{{ heading }}</h2>
    </div>
    <div content>
      <p>{{ sectionDetails }}</p>
    </div>
  </expansion-panel>
</ng-template>
