<form (ngSubmit)="handleSubmit()" [formGroup]="estimatorForm" class="w-full flex flex-col gap-6">
  <div formGroupName="upstream">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.upstream"></ng-container>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label class="text-sm text-slate-600" for="headCount">How many employees are in the organisation? </label>
        <input
          id="headCount"
          class="border border-slate-400 rounded"
          formControlName="headCount"
          name="headCount"
          type="number"
          min="1" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="desktopPercentage" class="text-sm text-slate-600">
          What percentage of those employee devices are desktops or laptops?
        </label>
        <input
          id="desktopPercentage"
          class="cursor-pointer"
          formControlName="desktopPercentage"
          name="desktopPercentage"
          type="range"
          min="0"
          max="100"
          step="5"
          [attr.aria-valuetext]="'Desktops ' + desktopPercentage + '%, Laptops ' + laptopPercentage + '%'" />
        <div class="flex justify-between text-sm text-slate-600">
          <span>Desktops {{ desktopPercentage }}%</span><span>Laptops {{ laptopPercentage }}%</span>
        </div>
      </div>
    </div>
  </div>

  <div formGroupName="onPremise">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.onPremise"></ng-container>

    <div class="flex flex-col gap-4">
      <p id="on-prem-servers-question">How many on-premise servers do you use?</p>
      <div class="flex gap-2 items-center">
        <input
          id="estimateServerCount"
          type="checkbox"
          class="rounded-sm"
          formControlName="estimateServerCount"
          aria-describedby="on-prem-servers-question" />
        <label for="estimateServerCount" class="cursor-pointer select-none">I don't know</label>
      </div>

      @if (estimateServerCount) {
        <note>
          <p>
            We'll make an assumption about the number of servers based on your number of employees and cloud usage (~{{
              previewServerCount
            }}
            on-prem servers).
          </p>
        </note>
      }

      <div class="flex flex-col gap-2">
        <label class="text-sm text-slate-600" for="numberOfServers">Number of Servers:</label>
        <input
          id="numberOfServers"
          class="border border-slate-400 rounded disabled:bg-gray-200 disabled:text-slate-400 disabled:cursor-not-allowed"
          formControlName="numberOfServers"
          name="numberOfServers"
          type="number"
          min="0" />
      </div>

      <ng-container *ngTemplateOutlet="locationInput; context: formContext.onPremise"></ng-container>
    </div>
  </div>

  <div formGroupName="cloud">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.cloud"></ng-container>

    <div class="flex flex-col gap-4">
      <div class="flex gap-2 items-center">
        <input id="noCloudServices" type="checkbox" formControlName="noCloudServices" class="rounded-sm" />
        <label for="noCloudServices" class="cursor-pointer select-none">We don't use cloud services</label>
      </div>

      @if (!noCloudServices) {
        <div class="flex flex-col gap-2">
          <label for="cloudPercentage" class="text-sm text-slate-600"
            >What percentage of your servers are cloud services vs on-premise?</label
          >
          <input
            id="cloudPercentage"
            class="cursor-pointer disabled:bg-gray-200 disabled:text-slate-400 disabled:cursor-not-allowed"
            formControlName="cloudPercentage"
            name="cloudPercentage"
            type="range"
            min="0"
            max="100"
            step="5"
            [attr.aria-valuetext]="'Cloud ' + cloudPercentage + '%, On-premise' + onPremisePercentage + '%'" />
          <div class="flex justify-between text-sm text-slate-600">
            <span>Cloud {{ cloudPercentage }}%</span>
            <span>On-premise {{ onPremisePercentage }}%</span>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="locationInput; context: formContext.cloud"></ng-container>

        <div>
          <p>
            We have derived a rough figure to give a ratio from US dollars spent to kWh of energy used in data centres.
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <label for="monthlyCloudBill" class="text-sm text-slate-600">What is your monthly cloud bill?</label>
          <select
            id="monthlyCloudBill"
            class="border border-slate-400 rounded disabled:bg-gray-200 disabled:text-slate-400 disabled:cursor-not-allowed"
            formControlName="monthlyCloudBill"
            name="monthlyCloudBill"
            required>
            @for (range of costRanges; track $index) {
              <option [ngValue]="range">{{ range | formatCostRange }}</option>
            }
          </select>
        </div>
      }
    </div>
  </div>

  <div formGroupName="downstream">
    <ng-container *ngTemplateOutlet="sectionHeader; context: formContext.downstream"></ng-container>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex">
          <label for="purposeOfSite" class="text-sm text-slate-600"
            >What's the primary purpose of your digital services?</label
          >
          <helper-info class="ml-auto" inputLabel="What's the purpose of your website">
            <p class="text-sm text-slate-600">
              The purpose of your digital services is used to determine the typical amount of time a user might spend on
              them and the amount of data that may be transferred.
            </p>
            <p class="text-sm text-slate-600">
              This can affect the amount of energy used by end user devices and how much energy from network traffic is
              attributable to your organisation
            </p>
          </helper-info>
        </div>
        <select
          class="border border-slate-400 rounded"
          formControlName="purposeOfSite"
          name="purposeOfSite"
          id="purposeOfSite">
          <option value="average" selected>Unspecified (uses average)</option>
          <option value="information">Information</option>
          <option value="eCommerce">E-Commerce</option>
          <option value="socialMedia">Social Media</option>
          <option value="streaming">Streaming</option>
        </select>
      </div>
      <ng-container *ngTemplateOutlet="locationInput; context: formContext.downstream"></ng-container>

      <div class="flex flex-col gap-2">
        <label for="monthlyActiveUsers" class="text-sm text-slate-600">
          How many monthly active users do your digital services have?
        </label>
        <input
          class="border border-slate-400 rounded"
          formControlName="monthlyActiveUsers"
          name="monthlyActiveUsers"
          type="number"
          id="monthlyActiveUsers"
          min="0" />
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex">
          <label for="mobilePercentage" class="text-sm text-slate-600">
            What percentage of your end-users are mobile or personal computer users?
          </label>
          <helper-info class="ml-auto" inputLabel="What percentage of your users are mobile or personal computer users">
            <p class="text-sm text-slate-600">
              The percentage of mobile users will affect the energy used by end user devices and network infrastructure.
            </p>
            <p class="text-sm text-slate-600">
              While the power demand of mobile devices is often much lower, the use of mobile networks can increase the
              power used when transferring data.
            </p>
          </helper-info>
        </div>
        <input
          id="mobilePercentage"
          formControlName="mobilePercentage"
          name="mobilePercentage"
          type="range"
          min="0"
          max="100"
          step="5"
          [attr.aria-valuetext]="'Mobile ' + mobilePercentage + '%, Computer' + computerPercentage + '%'" />
        <div class="flex justify-between text-sm text-slate-600">
          <span>Mobile {{ mobilePercentage }}%</span>
          <span>Computer {{ computerPercentage }}%</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-4 flex-row-reverse">
    <button
      class="px-3 py-2 !bg-sky-800 text-white rounded disabled:opacity-50 disabled:cursor-not-allowed hover:bg-sky-900"
      type="submit"
      [disabled]="!estimatorForm.valid">
      Calculate
    </button>
    <button
      class="px-3 py-2 !bg-slate-200 text-slate-800 rounded hover:bg-slate-300"
      type="button"
      (click)="resetForm()">
      Reset
    </button>
  </div>

  <ng-template
    #locationInput
    let-label="location.label"
    let-helperText="location.helperText"
    let-hasUnknown="location.hasUnknown"
    let-formControlName="location.formControlName"
    let-formGroupName="formGroupName">
    <div formGroupName="{{ formGroupName }}" class="flex flex-col gap-2">
      <div class="flex">
        <label for="{{ formControlName }}" class="text-sm text-slate-600">{{ label }} </label>
        @if (helperText) {
          <helper-info class="ml-auto" [inputLabel]="label">
            <p class="text-sm text-slate-600">
              This will affect the average
              <a class="underline" href="https://www.techcarbonstandard.org/glossary#carbon-intensity"
                >Carbon Intensity</a
              >
              of the energy used by your {{ helperText }}.
            </p>
          </helper-info>
        }
      </div>
      <select
        class="border border-slate-400 rounded"
        name="{{ formControlName }}"
        formControlName="{{ formControlName }}"
        id="{{ formControlName }}">
        @for (item of locationDescriptions; track $index) {
          <option value="{{ item.value }}">{{ item.description }}</option>
        }
        @if (hasUnknown) {
          <option value="unknown">I don't know</option>
        }
      </select>
      @if (estimatorForm.get(formGroupName + '.' + formControlName)?.value === 'unknown') {
        <note>
          <p>We'll use the assumption that any servers you use are located globally.</p>
        </note>
      }
    </div>
  </ng-template>
</form>

<ng-template #sectionHeader let-heading="heading" let-sectionDetails="details">
  <expansion-panel class="flex justify-between gap-2 flex-col mb-4">
    <div header>
      <h2 class="text-2xl">{{ heading }}</h2>
    </div>
    <div content>
      <p>{{ sectionDetails }}</p>
    </div>
  </expansion-panel>
</ng-template>
