<div content>
  <p class="tce:text-sm">
    This tool is provided free of charge to assist you in identifying and measuring your carbon footprint, for
    information and guidance only. The scores and information provided should not be used for carbon reporting and are
    made available on an “as is” basis. Scott Logic Limited accepts no liability or responsibility for any use made by
    any person or organisation of the information or calculations available on this website. Any reliance placed on this
    website is taken at your own risk. You should read our full website
    <a
      href="https://github.com/ScottLogic/sl-tech-carbon-estimator/blob/main/TERMS.md"
      class="tce:underline"
      tce-external-link
      >terms and conditions</a
    >
    before using this site.
  </p>
</div>
