<div class="tce-w-full tce-flex tce-mb-2" role="tablist">
  @for (tab of tabs; track tab.title()) {
    <button
      #tabButton
      role="tab"
      [id]="tab.title().replaceAll(' ', '-') + '-tab'"
      [attr.aria-controls]="tab.title().replaceAll(' ', '-') + '-tabpanel'"
      [class.tce-active-tab]="tab.active()"
      [tabindex]="tab.active() ? 0 : -1"
      [attr.aria-selected]="tab.active() ? true : false"
      (click)="selectTab(tab)"
      (keydown)="onKeydown($event, $index)"
      class="tce-p-2 tce-cursor-pointer tce-border-b-2 tce-border-transparent hover:tce-border-slate-300">
      {{ tab.title() }}
    </button>
  }
</div>
<ng-content></ng-content>
