<div id="techCarbonEstimator" class="tce-flex tce-flex-col tce-px-4 tce-pt-4 md:tce-pb-4 tce-h-full">
  <h1 class="tce-text-3xl tce-mb-6">Technology Carbon Estimator</h1>
  <div class="tce-flex tce-w-full tce-grow tce-flex-wrap md:tce-flex-nowrap">
    @if (showAssumptionsAndLimitationView) {
      <assumptions-and-limitation
        #assumptionsLimitation
        aria-live="polite"
        (closeEvent)="closeAssumptionsAndLimitation($event)"
        class="tce-w-full md:tce-w-1/2 tce-pb-4 md:tce-pb-0 md:tce-pr-4"></assumptions-and-limitation>
    } @else {
      <carbon-estimator-form
        [formValue]="formValue"
        (formSubmit)="handleFormSubmit($event)"
        class="tce-w-full md:tce-w-1/2 tce-pb-4 md:tce-pb-0 md:tce-pr-4"></carbon-estimator-form>
    }
    @if (showEstimation) {
      <div
        #estimations
        class="tce-w-full md:tce-w-1/2 tce-flex tce-flex-col tce-h-dvh md:tce-h-fit tce-py-4 md:tce-py-0 md:tce-pl-4 md:tce-sticky md:tce-top-0">
        <carbon-estimation [carbonEstimation]="carbonEstimation" [extraHeight]="extraHeight"></carbon-estimation>
        @if (!showAssumptionsAndLimitationView) {
          <button
            id="showAssumptionsAndLimitationButton"
            class="tce-px-3 tce-py-2 tce-bg-slate-200 tce-text-slate-800 tce-rounded hover:tce-bg-slate-300 tce-w-fit tce-self-end"
            (click)="showAssumptionsAndLimitation()">
            Assumptions and limitations
          </button>
        }
      </div>
    }
  </div>
</div>
