<div id="techCarbonEstimator" class="tce:flex tce:flex-col tce:h-full">
  <p class="tce:text-6xl tce-mb-6">Technology Carbon Estimator</p>
  <div class="tce-flex tce-w-full tce-grow tce-flex-wrap lg:tce-flex-nowrap">
    <div class="tce-w-full lg:tce-w-1/2 tce-pb-4 lg:tce-pb-0 lg:tce-pr-4">
      <disclaimer></disclaimer>
      <tabs>
        <tab-item [active]="true" [title]="'Estimation Input'">
          <carbon-estimator-form
            [formValue]="formValue"
            (formSubmit)="handleFormSubmit($event)"
            (formReset)="handleFormReset()"></carbon-estimator-form>
        </tab-item>
        <tab-item [title]="'Assumptions and Limitations'">
          <assumptions-and-limitation aria-live="polite"></assumptions-and-limitation>
        </tab-item>
      </tabs>
    </div>
    <div
      #estimations
      class="tce-w-full lg:tce-w-1/2 tce-flex tce-flex-col tce-h-fit tce-py-4 lg:tce-py-0 lg:tce-pl-4 lg:tce-sticky lg:tce-top-0">
      <carbon-estimation
        [carbonEstimation]="carbonEstimation ? carbonEstimation : undefined"
        [extraHeight]="extraHeight"></carbon-estimation>
    </div>
  </div>
</div>
