<table class="tce-table-fixed tce-w-full">
  <thead>
    <tr>
      <th>Category</th>
      <th class="tce-w-40">Emissions</th>
    </tr>
  </thead>
  <tbody>
    @for (emissionsItem of emissions; track $index) {
      <tr [style.background-color]="emissionsItem.colour.background">
        @if (!emissionsItem.parent) {
          <td class="tce-flex tce-text-white">
            <button
              type="button"
              (click)="toggle(emissionsItem.category)"
              [attr.aria-label]="expanded[emissionsItem.category] ? 'Hide details' : 'Show details'"
              class="material-icons-outlined hover:tce-opacity-50">
              {{ expanded[emissionsItem.category] ? 'expand_less' : 'expand_more' }}
            </button>
            {{ emissionsItem.category }}
          </td>
          <td class="tce-text-white">{{ emissionsItem.emissions }}</td>
        } @else if (emissionsItem.display) {
          <td class="tce-flex tce-ml-6">
            <div
              class="tce-p-1 tce-flex tce-rounded-sm"
              [style.background-color]="emissionsItem.colour.svg ?? emissionsItem.colour.background">
              <div class="tce-m-auto tce-size-4 {{ emissionsItem.svg }}"></div>
            </div>
            <span class="tce-pl-2">
              {{ emissionsItem.category }}
            </span>
          </td>
          <td>
            {{ emissionsItem.emissions }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>
