<table class="tce-table-fixed tce-w-full">
  <thead>
    <tr>
      <th>Category</th>
      <th class="tce-w-40">Emissions</th>
    </tr>
  </thead>
  <tbody>
    @for (tableItem of tableData(); track $index) {
      <tr [style.background-color]="tableItem.colour.background">
        @if (!tableItem.parent) {
          <td class="tce-flex tce-text-white tce-items-center">
            <button
              type="button"
              (click)="toggle(tableItem.category)"
              [attr.aria-label]="expanded[tableItem.category] ? 'Hide details' : 'Show details'"
              class="material-icons-outlined hover:tce-opacity-50 tce-m-1">
              {{ expanded[tableItem.category] ? 'expand_less' : 'expand_more' }}
            </button>
            {{ tableItem.category }}
          </td>
          <td class="tce-text-white">{{ tableItem.emissions }}</td>
        } @else if (tableItem.display) {
          <td class="tce-flex tce-ml-8">
            <div
              class="tce-p-1 tce-flex tce-rounded-sm"
              [style.background-color]="tableItem.colour.svg ?? tableItem.colour.background">
              <div class="tce-m-auto tce-size-4 {{ tableItem.svg }}"></div>
            </div>
            <span class="tce-pl-2">
              {{ tableItem.category }}
            </span>
          </td>
          <td>
            {{ tableItem.emissions }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>
