<button [satPopoverAnchor]="helperInfo" (click)="helperInfo.toggle()" type="button">
  <span class="material-icons-outlined text-base text-slate-600">help_outline</span>
</button>

<sat-popover #helperInfo verticalAlign="above" hasBackdrop>
  <div
    class="max-w-64 bg-white border border-slate-600 rounded p-2 before:w-4 before:h-4 before:rotate-45 before:bg-slate-600 before:absolute before:z-[-10] before:-bottom-1 before:left-0 before:right-0 before:mx-auto">
    <ng-content></ng-content>
  </div>
</sat-popover>
