@tailwind base;
@tailwind components;
@tailwind utilities;

input.ng-invalid.ng-touched {
  @apply tce-border-red-600 tce-border-2 tce-m-[-1px];
}

.tce-error-box {
  @apply tce-text-red-600;
}

.tce-error-summary {
  @apply tce-border-red-600;
}

.tce-error-summary-link {
  @apply tce-text-red-600;
}

.tce-note {
  @apply tce-bg-sky-200 tce-border-sky-400 tce-text-slate-800;
}

.tce-button-calculate,
.tce-button-close {
  @apply tce-bg-sky-800 tce-text-white hover:tce-bg-sky-900 tce-rounded;
}

.tce-button-reset,
.tce-button-assumptions {
  @apply tce-bg-slate-200 tce-text-slate-800 hover:tce-bg-slate-300 tce-rounded;
}


.tce-active-tab, .tce-active-tab:hover {
  @apply tce-cursor-default tce-border-sky-800
}

.tce-totalchart-header {
  display: flex;
  align-items: center;
}

#tce-chart-total-text {
  font-size: 20px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: inline-block;
  line-height: 20px;
}

.tce-chart-total-colour {
  @apply tce-bg-orange-400;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  margin-right: 3px;
  display: inline-block;
  border: 2px solid #fff;
}

.tce-switch-container {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
  background: #f2f2f2;
  border-radius: 16px;
  padding: 2px 8px;
}

.tce-switch-label {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  @apply tce-text-slate-800;
  transition: background 0.2s, color 0.2s;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.tce-switch-label.tce-switch-active {
  background: turquoise;
  @apply tce-text-slate-800;
}

.tce-switch-input {
  display: none;
}

.tce-chart-figure {
  margin-left: 0px;
  margin-right: 0px;
}

.tce-no-ex-table-header {
  padding-left: 12px;
  height: 32px;;
}