name: Run semantic-release in dry-run mode
on:
  workflow_dispatch:
concurrency:
  group: 'publish'
  cancel-in-progress: false
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up environment
        uses: ./.github/actions/set-up-environment
      - name: Prepare package
        run: npm run prepare
      - name: Run Semantic-Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: npx semantic-release --dry-run
