name: Publish new package
on:
  workflow_dispatch:
concurrency:
  group: 'publish'
  cancel-in-progress: false
jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/buildAndTest.yml

  publish:
    runs-on: ubuntu-latest
    needs: 
      - test
    permissions:
      id-token: write  # Required for OIDC
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up environment
        uses: ./.github/actions/set-up-environment
      - name: Prepare package
        run: npm run prepare
      - name: Run Semantic-Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: npx semantic-release
      - name: Verify release
        run: npm run verify-release

  publish_pages:
    needs: publish
    permissions:
      pages: write
      id-token: write
      contents: read
    uses: ./.github/workflows/shared-pages.yml
