<expansion-panel class="tce-flex tce-justify-between tce-gap-2 tce-flex-col">
  <div header>
    <h2 class="tce-text-2xl">Disclaimer</h2>
  </div>
  <div content>
    <p>
      This tool is provided free of charge to assist you in identifying and measuring your carbon footprint, for
      information and guidance only. The scores and information provided should not be used for carbon reporting and are
      made available on an “as is” basis. Scott Logic Limited accepts no liability or responsibility for any use made by
      any person or organisation of the information or calculations available on this website. Any reliance placed on
      this website is taken at your own risk. You should read our full website terms and conditions before using this
      site.
    </p>
  </div>
</expansion-panel>
